{% import _self as formMacros %}

{% macro printUserCourseRow(userCourseForm) %}
    <div class="col-xs-4 js-user-course-item">
        <a href="#" class="js-rem3ove-user pull-right">
            <span class="fa fa-close"></span>
        </a>

        {% if userCourseForm.user is defined %}
            {{ form_row(userCourseForm.user) }}
        {% endif %}

    </div>
{% endmacro %}

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}

    <h3>Students</h3>
    <div class="row js-user-course-wrapper"
         data-prototype="{{ formMacros.printUserCourseRow(form.userCourse.vars.prototype)|e('html_attr') }}"
         data-index="{{ form.userCourse|length }}"
    >
        {% for userCourseForm in form.userCourse %}
            {{ formMacros.printUserCourseRow(userCourseForm) }}
        {% endfor %}
        <a href="#" class="js-user-course-add">
            <span class="fa fa-plus-circle"></span>
            Add Another Student
        </a>
    </div>

    <button class="btn mt-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}