{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <h1>Edit Course</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('course_index') }}">back to list</a>

    {{ include('course/_delete_form.html.twig') }}

    <dt>Students</dt>
    <dd>
        <ul class="list-group">
            {% for userCourse in course.userCourse %}

                <li class="list-group-item">
                    {{ userCourse.user.email }}

                    <form method="post" action="{{ path('course_user_course_remove', {'courseId': userCourse.course.id, 'userId': userCourse.user.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lecture.id) }}">#}
                        <button class="btn">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </dd>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('UserCourseForm.js') }}"></script>

{% endblock %}