{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('UserCourseForm.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">

            <h1>Create new Course</h1>

            {{ include('course/_form.html.twig') }}

            <a href="{{ path('course_index') }}">back to list</a>

        </div>
    </div>


{% endblock %}