{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <h1>Asign users to a course</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('course_index') }}">back to list</a>
{% endblock %}