{% extends 'base.html.twig' %}

{% block title %}Lecture{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">{{ course.title }}</h1>

    <h4>Course description:</h4>

    <p>{{ course.description }}</p>

    <h4 class="mt-5">Available lectures:</h4>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.id }}</td>
                <td>{{ lecture.title }}</td>
                <td>{{ lecture.description }}</td>
                <td>
                    <a href="{{ path('student_lecture_show', {'id': lecture.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}