{% extends 'base.html.twig' %}

{% block title %}Lecture{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">{{ homework.title }}</h1>

    <h4>Homework description:</h4>

    <p>{{ homework.description }}</p>

    {% if done == true %}

        {{ include('homework/done.html.twig', { 'solvedHomeworkId':solvedHomeworkId}) }}

    {% elseif homework.type == 'link' %}

        {{ include('homework/link.html.twig') }}

    {% elseif homework.type == 'file' %}

        {{ include('homework/file.html.twig') }}

    {% else %}

        {{ include('homework/text.html.twig') }}

    {% endif %}

{% endblock %}