{% extends 'base.html.twig' %}

{% block title %}Lecture{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">{{ lecture.title }}</h1>

    <h4>Lecture description:</h4>

    <p>{{ lecture.description }}</p>

    <h4 class="mt-5">Homeworks for this lecture:</h4>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for homework in homeworks %}
            <tr>
                <td>{{ homework.id }}</td>
                <td>{{ homework.title }}</td>
                <td>{{ homework.description }}</td>
                <td>{{ homework.type }}</td>
                <td>
                    <a href="{{ path('student_homework_show', {'id': homework.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}