{% extends 'base.html.twig' %}

{% block title %}Solved homework{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">{{ solvedhomework.title }}</h1>

    {% if solvedhomework.text != null %}

        <h4>Text solution:</h4>
        <p>{{ solvedhomework.text }}</p>

    {% elseif solvedhomework.link != null %}

        <h4>Link:</h4>
        <a class="btn btn-primary" target="_blank" href="{{ solvedhomework.link }}">Open link in a new tab</a>

    {% elseif solvedhomework.file != null %}

        <h4>File:</h4>
        <a class="btn btn-primary" target="_blank" href="{{ asset('uploads/files/' ~ solvedhomework.file) }}">View uploaded file</a>

    {% endif %}

{% endblock %}