<div class="border-bottom">
    <div class="col-12 text-right pt-2">
    </div>
    <div class="col-12 text-center header">
        <a href="{{ path('home') }}">
            <img class="col-2" src="{{ asset('images/hat.png') }}">
            <h2>UniSys</h2>
        </a>
    </div>
</div>