<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item navbar-text">
                <a href="{{ path('user_index') }}" class="nav-link">Users</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_TEACHER') %}
            <li class="navbar-text pull-right">
                <a href="{{ path('admin_dashboard') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item navbar-text">
                <a href="{{ path('course_index') }}" class="nav-link">Courses</a>
            </li>
            <li class="nav-item navbar-text">
                <a href="{{ path('lecture_index') }}" class="nav-link">Lectures</a>
            </li>
            <li class="navbar-text pull-right">
                <a href="{{ path('homework_index') }}" class="nav-link">Homeworks</a>
            </li>
            <li class="navbar-text pull-right">
                <a href="{{ path('index_communication') }}" class="nav-link">Communication</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_STUDENT') and not is_granted('ROLE_TEACHER') %}
            <li class="navbar-text pull-right">
                <a href="{{ path('student_dashboard') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item navbar-text">
                <a href="{{ path('student_courses') }}" class="nav-link">Courses</a>
            </li>
            <li class="navbar-text pull-right">
                <a href="{{ path('index_communication') }}" class="nav-link">Communication</a>
            </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav pull-right">
        {% if app.user == null %}
            <li class="navbar-text pull-right" style="color: rgba(255,255,255,.5);">
                <a href="{{ path('login') }}" class="nav-link">Login</a>
            </li>
        {% else %}
            <li class="navbar-text pull-right">
                <a href="{{ path('logout') }}" class="nav-link" style="color: rgba(255,255,255,.5);">Logout</a>
            </li>
        {% endif %}
    </ul>
</nav>
