{% extends 'base.html.twig' %}

{% block title %} Inbox {% endblock %}

{% block body %}
    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Subject</th>
                <th>With</th>
                <th>Message</th>
                <th>Last message</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>

            {% if threads %}
                {% for thread in threads %}
                    <tr>
                        <td>
                            <a href="{{ path('show_communication', {'id': thread.id}) }}">
                                {{ thread.subject }}
                            </a>
                        </td>
                        <td>{% for participant in thread.participants %}
                                {% if participant is not same as(app.user) %}
                                    {{ participant.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ thread.messages|length }}
                        </td>
                        <td>{{ thread.messages.last.createdAt|date('Y-m-d H:i:s') }} By {{ thread.messages.last.owner.name }}</td>
                        <td>
                            <form method="post" action="{{ path('delete_thread', {'id': thread.id}) }}"
                                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thread.id) }}">
                                <button class="btn">Delete Thread</button>
                            </form>
                        </td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">
                        No threads
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('new_message') }}">New message</a>
{% endblock %}




