{% extends 'base.html.twig' %}

{% block body %}

<h2>New Message</h2>
<form action="{{ path('new_message') }}" method="POST">
    {{ form_start(form) }}
    {{ form_end(form) }}
</form>

{% endblock %}
