{% extends 'base.html.twig' %}

{% block body %}
    <h2>Subject: {{ thread.subject }}</h2>
    <h3>History:</h3>
    {% set messages = thread.messages|reverse %}
    {% for message in messages %}
        <div>
            <div>
                <tr>{% if app.user.name is same as(message.owner.name) %}
                        By {% trans %}You {% endtrans %}
                    {% else %}
                        By {{ message.owner.name|e }}
                    {% endif %}
                </tr>
                <tr>
                    on {{ message.createdAt|date }}
                    {% if app.user is same as (message.owner) %}
                        <form method="post" action="{{ path('delete_message', {'id': message.id}) }}"
                              onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                            <button class="btn btn-sm btn-danger">DELETE</button>
                        </form>
                    {% endif %}

                </tr>
            </div>
            <div>
                {{ message.body }}
            </div>
        </div>
    {% endfor %}

    <h3>Reply</h3>

    <form action="{{ path('show_communication', {'id': thread.id}) }}" method="post">
        {{ form_widget(form) }}
        <input type="submit"/>
    </form>

{% endblock %}
