<div class="card bg-warning p-2">
    <h4>Done!!</h4>
    <p>You already completed this homework.</p>
    <p>View your homework <a href="{{ path('student_solvedhomework_show', {'id': solvedHomeworkId}) }}">here</a></p>
</div>