{% extends 'base.html.twig' %}

{% block title %}Edit Homework{% endblock %}

{% block body %}
    <h1>Edit Homework</h1>

    {{ include('homework/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('homework_index') }}">back to list</a>

    {{ include('homework/_delete_form.html.twig') }}
{% endblock %}