<h4 class="mt-5">Solve homework:</h4>
<p>This homework requires you to add file solution</p>

<form action="{{ path('student_solve_homework') }}" method="POST" enctype="multipart/form-data">
    <input class="form-control form-group" type="text" name="title" placeholder="Enter title">
    <input class="form-control form-group" type="file" name="file">
    <input type="hidden" value="{{ homework.id }}" name="homework">
    <input class="btn btn-success mt-4" type="submit" value="save">
</form>