{% extends 'base.html.twig' %}

{% block title %}Homework index{% endblock %}

{% block body %}
    <h1>Homework index</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Lecture</th>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                <th>Available from</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for homework in homeworks %}
            <tr>
                <td>{{ homework.id }}</td>
                <td>{{ homework.lecture.title }}</td>
                <td>{{ homework.title }}</td>
                <td>{{ homework.description }}</td>
                <td>{{ homework.type }}</td>
                <td>{{ homework.availableFrom ? homework.availableFrom|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('homework_show', {'id': homework.id}) }}">show</a>
                    <a href="{{ path('homework_edit', {'id': homework.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('homework_new') }}">Create new</a>
{% endblock %}