{% extends 'base.html.twig' %}

{% block title %}New Homework{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/datepicker.js') }}"></script>

{% endblock %}
{% block body %}
    <h1>Create new Homework</h1>

    {{ include('homework/_form.html.twig') }}

    <a href="{{ path('homework_index') }}">back to list</a>
{% endblock %}
