{% extends 'base.html.twig' %}

{% block title %}Homework{% endblock %}

{% block body %}
    <h1>Homework</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ homework.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ homework.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ homework.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ homework.type }}</td>
            </tr>
            <tr>
                <th>Available_from</th>
                <td>{{ homework.availableFrom ? homework.availableFrom|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('homework_index') }}">back to list</a>

    <a href="{{ path('homework_edit', {'id': homework.id}) }}">edit</a>

    {{ include('homework/_delete_form.html.twig') }}

    <h1 class="mt-5">Solved homeworks</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Solution</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for solvedhomework in solvedHomeworks %}
            <tr>
                <td>{{ solvedhomework.id }}</td>
                <td>{{ solvedhomework.title }}</td>
                <td>{{ solvedhomework.user.email }}</td>
                <td>
                    {% if solvedhomework.text != null %}

                        <p>{{ solvedhomework.text }}</p>

                    {% elseif solvedhomework.link != null %}

                        <a class="btn btn-primary" target="_blank" href="{{ solvedhomework.link }}">Open link in a new tab</a>

                    {% elseif solvedhomework.file != null %}

                        <a class="btn btn-primary" target="_blank" href="{{ asset('uploads/files/' ~ solvedhomework.file) }}">View uploaded file</a>

                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('solved_homework_show', {'id': solvedhomework.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}