{% extends 'base.html.twig' %}

{% block title %}Homework{% endblock %}

{% block body %}
    <h1>Solved Homework</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ solvedhomework.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ solvedhomework.title }}</td>
            </tr>
            <tr>
                <th>Solution</th>
                <td>
                    {% if solvedhomework.text != null %}

                        <p>{{ solvedhomework.text }}</p>

                    {% elseif solvedhomework.link != null %}

                        <a class="btn btn-primary" target="_blank" href="{{ solvedhomework.link }}">Open link in a new tab</a>

                    {% elseif solvedhomework.file != null %}

                        <a class="btn btn-primary" target="_blank" href="{{ asset('uploads/files/' ~ solvedhomework.file) }}">View uploaded file</a>

                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Mark</th>
                <td>
                    {% if solvedhomework.mark != null %}
                        <p>{{ solvedhomework.mark }}</p>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Mark:</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('homework_index') }}">back to list</a>



{% endblock %}