{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="col-12 mt-2 text-center">
        <div>
            <a class="btn btn-secondary m-2" href="{{ path('user_new') }}">Add user</a>
            <a class="btn btn-secondary m-2" href="{{ path('course_new') }}">Add course</a>
            <a class="btn btn-secondary m-2" href="{{ path('lecture_new') }}">Add lecture</a>
            <a class="btn btn-secondary m-2" href="{{ path('homework_new') }}">Add homework</a>
            <a class="btn btn-secondary m-2" href="{{ path('index_communication') }}">Communication</a>
        </div>
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Messages
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div id="unread-messages">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>Thread</th>
                                <th>From</th>
                                <th>Date</th>
                                <th>Message</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% if messages %}
                                {% for message in messages %}
                                    <tr>
                                        <td>
                                            {{ message.thread.subject }}
                                            </a>
                                        </td>
                                        <td>{{ message.owner.name }}</td>
                                        <td>{{ message.createdAt|date('Y-m-d H:i:s') }}</td>
                                        <td>
                                            {{ message.body }}
                                        </td>
                                        <td>
                                            <a href="{{ path('show_communication', {'id': message.thread.id}) }}"
                                               class="btn btn-info btn-sm">Reply</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6">
                                        no threads
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Lectures
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Course</th>
                            <th>Link</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if lectures %}
                            {% for lecture in lectures %}
                                <tr>
                                    <td>{{ lecture.title }}</td>
                                    <td>{{ lecture.description }}</td>
                                    <td>{{ lecture.course.title }}</td>
                                    <td>
                                        <a href="{{ path('lecture_show',{'id': lecture.id}) }}">Show</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    No Lectures
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Submitted homework
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Title</th>
                            <th>User</th>
                            <th>Link</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if homeworks %}
                            {% for homework in homeworks %}
                                <tr>
                                    <td>{{ homework.title }}</td>
                                    <td>{{ homework.user.email }}</td>
                                    <td><a href="{{ path('solved_homework_show',{'id': homework.id}) }}">Link</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    No Homework
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

{% endblock %}
