{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="mt-5" id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        Homework:
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <th>Latest homeworks:</th>
                            <th>Lecture:</th>
                            <th>Course:</th>
                        </thead>
                        <tbody>
                        {% if homeworks %}
                            {% for homework in homeworks %}
                                <tr>
                                    <td>
                                        <a href="{{ path('student_homework_show', {'id': homework.id}) }}">{{ homework.title }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('student_lecture_show', {'id': homework.lecture.id}) }}">{{ homework.lecture.title }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('student_course_show', {'id': homework.lecture.course.id}) }}">{{ homework.lecture.course.title }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <td>No Homework</td>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        Latest marks:
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    {% for homeworkWithMark in homeworksWithMarks %}
                        {{ homeworkWithMark.mark }}
                        <a href="{{ path('student_homework_show', {'id': homeworkWithMark.id}) }}">{{ homeworkWithMark.title }}</a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br><br><br>


{% endblock %}