{% extends 'base.html.twig' %}

{% block title %}Edit Lecture{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">

            <h1>Edit Lecture</h1>

            {{ include('lecture/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('lecture_index') }}">back to list</a>

            {{ include('lecture/_delete_form.html.twig') }}

        </div>
    </div>

{% endblock %}