{% extends 'base.html.twig' %}

{% block title %}Lecture index{% endblock %}

{% block body %}
    <h1>Lecture index</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.id }}</td>
                <td>{{ lecture.title }}</td>
                <td>{{ lecture.description }}</td>
                <td>
                    <a href="{{ path('lecture_show', {'id': lecture.id}) }}">show</a>
                    <a href="{{ path('lecture_edit', {'id': lecture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lecture_new') }}">Create new</a>
{% endblock %}