{% extends 'base.html.twig' %}

{% block title %}New Lecture{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">

            <h1>Create new Lecture</h1>

            {{ include('lecture/_form.html.twig') }}

            <a href="{{ path('lecture_index') }}">back to list</a>

        </div>
    </div>

{% endblock %}