{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="container col-md-6 mt-5">
        <div class="card">
            <div class="card-header">
                Login
                {% if error %}
                    <div style="color: #AA3333">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_row(form.email, {'full_name': '_email'}) }}
                {{ form_row(form.password, {'full_name': '_password'}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}



