{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">

        <h1>Create new User</h1>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('user_index') }}">back to list</a>

    </div>
</div>

{% endblock %}